@model ApplicationCore.Entities.Monster

@{
    ViewData["Title"] = "Monster Profile";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Monster</h4>
    <hr />
    <div>
        <div>
            <img src="~/images/@Model.Image" class="img-thumbnail" />
        </div>
    <ul>
        <li><strong>@Html.DisplayNameFor(model => model.Id): </strong> @Html.DisplayFor(model => model.Id)</li>
        <li><strong>@Html.DisplayNameFor(model => model.NumberOfEyes):</strong> @Html.DisplayFor(model => model.NumberOfEyes)</li>
        <li><strong>@Html.DisplayNameFor(model => model.Color):</strong> @Html.DisplayFor(model => model.Color)</li>
        <li><strong>@Html.DisplayNameFor(model => model.NumberOfArms):</strong> @Html.DisplayFor(model => model.NumberOfArms)</li>
    </ul>
   </div>
              
              
</div>
<div>

    <a asp-action="Index">Back Home</a>
</div>
