@model ApplicationCore.Entities.Monster

@{
    ViewData["Title"] = "Monster Profile";
}

<h2>View</h2>

<div>
    <h4>Monster</h4>
    <hr />
    <div>
        <div>
            <img src="~/images/@Model.Image" class="img-thumbnail" />
        </div>
    <ul>
        <li>@Html.DisplayNameFor(model => model.Id):  @Html.DisplayFor(model => model.Id)</li>
        <li>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) </li>
        <li> @Html.DisplayNameFor(model => model.NumberOfEyes): @Html.DisplayFor(model => model.NumberOfEyes)</li>
        <li> @Html.DisplayNameFor(model => model.Color): @Html.DisplayFor(model => model.Color)</li>
        <li>@Html.DisplayNameFor(model => model.NumberOfArms): @Html.DisplayFor(model => model.NumberOfArms)</li>
    </ul>
   </div>
              
              
</div>
<div>

    <a asp-action="Index">Back Home</a>
</div>
